@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.App {
  max-width: 550px;
  border: 1px solid lightgray;
  margin: 2rem auto;
  font-family: "Poppins", "Courier New", Courier, monospace;
}

.main--nav {
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.8rem;
}

.main--nav > img {
  height: 1.5rem;
}

.main--header,
.main--card-container {
  padding: 1.5rem 1.8rem;
}

.main--header > .img--container {
  text-align: center;
}
.main--header img {
  width: 395px;
  height: auto;
}

.main--header > h1 {
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
}
.main--header > p {
  font-weight: 300;
  font-style: normal;
  margin-bottom: 0;
}

.main--card {
  width: 176px;
}
.main--image-container {
  position: relative;
}
.main--image-container img {
  width: 100%;
}
.main--image-status {
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #fff;
  padding: 3px 5px 2px;
  border-radius: 0.3rem;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

.main--info-container h6 {
  margin: 0;
}
.main--info-container img {
  width: 14px;
  height: 14px;
}
.main--info-rating {
  display: flex;
  margin: 5px 0;
  font-weight: 300;
}
.main--info-rating h6 {
  margin-left: 3px;
  color: #222;
}
.main--info-rating span {
  color: #918e9b;
}
.main--info-container h6:nth-of-type(2) {
  margin: 5px 0;
}

.main--info-container span {
  color: #222;
  font-weight: 600;
}

.main--info-description {
  color: #222;
  font-weight: 300;
}
